@import url("https://fonts.googleapis.com/css?family=PT+Sans");

* {
  margin: 0;
}

body {
  background: #fff;
  font-family: "PT Sans", sans-serif;
}

.main-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: auto;
  padding: 100px;
}

.container {
  margin-right: 10px;
  flex: 40%;
  width: 100%;
  border-radius: 10px;
  background-color: whitesmoke;
  background-color: #027cff;
  padding: 30px;
  color: #fff;
}

.second-container {
  margin-left: 10px;
  flex: 50%;
  background-color: whitesmoke;
}

@media screen and (max-width: 800px) {
  .container,
  .second-container {
    flex: 100%;
    margin: 10px;
  }

  .main-container {
    padding: 10px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.display-4 {
  margin-top: 20px;
}
.header {
  text-align: center;
  color: #333;
  margin-top: 30px;
}

h5 {
  margin-top: 20px;
}

a {
  color: #333;
}

a:hover {
  color: #da5767;
  text-decoration: none;
}

.card {
  border: 0.4rem solid #f8f9fa;
  top: 10%;
}

.form-control {
  background-color: #f8f9fa;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}

.form-control:focus {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #da5767;
  outline: 0;
  box-shadow: none;
}

.btn {
  padding: 0.6rem 1.2rem;
  background: #da5767;
  border: 2px solid #da5767;
}

.btn-primary:hover {
  background-color: #df8c96;
  border-color: #df8c96;
  transition: 0.3s;
}
